

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20% 80%;
    grid-gap: 5px;
    width:100vw;
    height:100vh;
    position:relative;

}

.form{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter:blur(2px); */
    backdrop-filter: blur(2px);
    /* z-index:10; */
}
.active{
    display:none;

}
#bookform{
    display:flex;
    flex-direction: column;
    gap:10px;
    
}

.header{
    grid-area: 1/1/2/4;
    height:15vh;
    box-shadow: 1px 0px 15px rgba(59, 53, 53, 0.351);
    border-radius: 10px;
}
.header>h1{
    margin:0px;
    text-align: center;
    margin-top:20px;
}

.main{
    grid-area: 2/2/2/4;
    display:flex;
    justify-content:center;
    align-items: center;
    box-shadow: 1px 0px 15px rgba(59, 53, 53, 0.351);
    border-radius: 10px;
    margin-left:20px;
}


.main>button{
    border:none;
    box-shadow: 2px 2px 18px rgba(182, 174, 174, 0.805);
    border-radius:25px;
    transition: transform 0.3s ease-out;
    width:150px;
    height:40px;
}
.main>button:hover{
    transform: scale(1.2);
}

.aside{
    box-shadow: 1px 0px 15px rgba(59, 53, 53, 0.351);
    border-radius: 10px;
}
.bookdiv{
    /* border: 1px solid rgba(113, 106, 106, 0.473); */
    box-shadow: 2px 2px 18px rgba(182, 174, 174, 0.805);
    border-radius:25px;
    text-align: center;
    padding:10px;
    margin:10px;
    transition: transform 0.3s ease-in;
    width:70%;
}
.bookdiv>button{
    border:none;
    box-shadow: 2px 2px 18px rgba(182, 174, 174, 0.805);
    border-radius:25px;
    transition: transform 0.3s ease-out;

}
.bookdiv>button:hover{
    transform: scale(1.2);
}

.bookdiv:hover{
    transform: scale(0.95);
}

